body {
	background-image: url("../images/background.png");
	background-position: center;
	background-size: cover;
	margin: 0;
	background-attachment: fixed;
	color: white;
}

#planets {
	border-collapse: collapse;
}

td, th {
	border: 1px solid;
	font-family: "Lucida Console", monospace;
}

h1 {
	position: relative;
	text-align: center;
	font-family: "Lucida Console", monospace;
	font-size: 50px;
}

img {
	width: 300px;
	height: 300px;
}